@model List<Mc2.CrudTest.Web.Dto.CustomerDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a type="button" id="lnkAddCustomer" class="btn btn-primary" asp-action="AddCustomer">Add Customer</a>

    <table id="tblCustomers" class="table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Date of Birth</th>
            <th>Bank Account Number</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.DateOfBirth</td>
                <td>@customer.BankAccountNumber</td>
                <td> <a type="button"  class="btn btn-primary"  id="btnEdit"  asp-action="EditCustomer" asp-route-id="@customer.Id">Edit</a>
                <td> <a type="button"  class="btn btn-danger"  id="btnDelete"  asp-action="DeleteCustomer" asp-route-id="@customer.Id">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>

</div>